/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.questions .row{
  align-items: center;
}
p{
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 400;
}
.hero p{
  color: #fff;
}
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background: #121212;
  scroll-behavior: smooth;
}

/* Header */
header {
  background: #000;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  animation: slideDown 1s ease-in-out;
  border-bottom: 1px solid #6007955c;
}
header a{
  color: #9951a4;
  font-size: 20px;
}
header ul li{
  list-style: none; 
}
.social-links{
  display: flex;
  gap: 2rem;
  margin-bottom: 0px;
  padding-right: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #f0c040;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffd700; /* Brighter gold on hover */
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes zoomIn {
  from {
      transform: scale(0.8);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
}

.animate-fade {
  animation: fadeIn 2s ease-in-out;
}

.animate-slide {
  animation: slideIn 1.5s ease-in-out;
}

.animate-zoom {
  animation: zoomIn 1.5s ease-in-out;
}

.animate-pulse {
  animation: pulse 1s infinite;
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #000, #333);
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: #7023754d; /* Golden shimmer */
  transform: skewX(-45deg);
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  from {
      left: -100%;
  }
  to {
      left: 100%;
  }
}

.hero-content h1 {
  font-size: 3rem;
}
.text{
  font-size: 15px;
  margin-bottom: 15px;
}

.hero-content .highlight {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffd700;
}

.button {
  background: #f0c040;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s, transform 0.2s;
}

.button:hover {
  background: #ffd700;
  transform: scale(1.1);
}

/* Features Section */
.features {
  padding: 50px 70px;
  text-align: center;
  background: #1a1a1a; /* Slightly lighter black */
}

.feature-cards {
  display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.feature-card {
  background: #fff;
  /* color: #000; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.1);
  width: 300px;
  animation: zoomIn 1.5s ease-in-out;
  transition: transform 0.3s;
  height: 120px;
  border: 1px solid #60079573;
}
.feature-card p {
  color: #3a3a3a;
  font-weight: 400;
  text-align: center;
  font-size: 17px;
  margin-bottom: 0;
}
.register-img{
  display: flex;
  justify-content: center;
}
.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px #60079573;
}

/* About Section */
.about {
  padding: 50px 70px;
  /* background: #121212; */
  background: #e9e9e9;
  /* text-align: center; */
  /* border-top: 2px solid #f0c040; */
  color: #000;
}
.about h2{
  font-size: 28px;
  animation: slide-in 1s ease-in-out;
}

/* Contact Section */
.contact {
  padding: 50px 70px;
  background: #fff;
  /* text-align: center; */
  color: #000;
}
.privacy .row{
  align-items: center;
}
.privacy-image{
  display: flex;
  justify-content: center;
}
.contact h2{
  font-size: 25px;
  animation: slide-in 1s ease-in-out;
}

.contact .button {
  animation: pulse 1.5s infinite;
}

/* Footer */
footer {
  background: #000;
  color: #f0c040;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #f0c040;
}

.text-p{
  font-size: 16px;
}
.second-part{
  margin-bottom: 35px;
  font-size: 25px;
}



.questions {
  padding: 50px 70px;
  background: #e9e9e9;
  /* text-align: center; */
  /* border-top: 2px solid #f0c040; */
  color: #000;
}

.accordion {
  width: 100%;
  margin: 20px auto;
}

.question {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

.accordion-toggle {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.question-text {
  font-size: 20px;
  font-weight: 600;
}

.answer {
  display: none;
  padding-top: 10px;
}

button.accordion-toggle.active::before {
  content: "-";
  color: #000;
}

button.accordion-toggle::before {
  content: "+";
  color: #000;
}
.question-header{
  margin-top: 20px;
}
.icon{
  width: 50%;
}


footer p{
  color: #fff !important;
}
.solution-container {
  padding: 20px;
  /* max-width: 1200px; */
  margin: auto;
  padding: 50px 70px;
  background: #fff;
  text-align: center;
  color: #000;
}

.section-title {
  text-align: center;
  font-size: 25px;
  color: #000;
  margin-bottom: 40px;
  position: relative;
  animation: slide-in 1s ease-in-out;
}

.section-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: #000;
  margin: 17px auto 0;
  animation: grow-line 0.8s ease-in-out;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  animation: fade-in 1s ease-in-out;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: 0.5s;
}

.card h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.card p {
  color: #3a3a3a;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
}
/* .register-image{
  width: 65%;
} */
.verification .row{
  align-items: center;
}

.aadhar-img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #c09ad78f;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grow-line {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.second-header{
  margin-top: 50px;
}
.answer p{
  padding-left: 27px;
}
.icons{
  margin-right: 15px;
}
.questions h2{
  font-size: 25px;
  animation: slide-in 1s ease-in-out;
}
.privacy-header{
  position: relative;
  animation: slide-in 1s ease-in-out;
  margin-bottom: 20px;
}
/* .privacy-header::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: #000;
  margin: 17px auto 0;
  animation: grow-line 0.8s ease-in-out;
} */
.last-header{
  position: relative;
  animation: slide-in 1s ease-in-out;
  margin-bottom: 20px;
}
/* .last-header::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background: #fff;
  margin: 17px auto 0;
  animation: grow-line 0.8s ease-in-out;
} */
.register .row{
  align-items: center;
}
.second-part{
  text-align: center;
}
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
  .icon {
    width: 50%;
}
.home-page{
  height: 90vh;
}
.privacy-img{
  width: 100%;
  margin-bottom: 30px;
}
.register-image{
  width: 100%;
  margin-top: 30px;
}
.aadhar-img {
  margin-bottom: 30px;
}
.contact {
  text-align: center;
}
.about{
  text-align: center;
}
}

/* Medium screens (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
      font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .second-part.second {
    margin-top: 40px;
}
}
@media (max-width: 759px) {
  .card {
    width: 100%;
}
}
@media (max-width: 695px) {
  .question-text {
    font-size: 22px !important;
}
}
@media (max-width: 991px) {
  .hero-content {
    text-align: center;
}
.home-img {
  display: none;
}
.contact {
  text-align: center;
}
.about {
  text-align: center;
}
p{
  font-size: 20px !important;
  font-weight: 500;
}
.last-header{
  font-size: 25px !important;
  font-weight: 700;
}
.privacy-header{
  font-size: 25px !important;
  font-weight: 700;
}
.section-title{
  font-size: 25px !important;
  font-weight: 700;
}
.card p {
  font-size: 20px;
}
.card h2 {
  font-size: 25px;
}
.question-text {
  font-size: 25px;
}
.questions h2 {
  font-size: 25px;
}
.question-header {
  margin-top: 60px;
}
.about h2 {
  font-size: 25px;
}
.questions {
  padding: 50px 50px !important;
}
}


#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send to the background */
}
.hero-content {
  position: relative;
  /* text-align: center; */
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}
.home-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 70px;
}
.hero-content p{
  color: #b9b9b9;
}
.home-img{
  width: 65%;
  border-radius: 50%;
}
